name: 'Calificación de las fases del proyecto'

on: push

jobs:
  userprog:
    name: 'Fase: programas de usuario'
    runs-on: 'ubuntu-16.04'
    env:
      phase: 'userprog'
    steps:
      - uses: 'actions/checkout@v2'
      # - uses: './.github/qemu-install'
      - uses: './.github/env-config'
        with:
          phase: '${{ env.phase }}'
      - name: 'Compilar tests'
        working-directory: '/home/runner/pintos/${{ env.phase }}/'
        run: 'make'
      - name: 'Ejecutar tests'
        working-directory: '/home/runner/pintos/${{ env.phase }}/build'
        run: |
          source ~/.bashrc
          which pintos
          cat ~/.bashrc
          ls ~/pintos/utils/pintos -l
          # make grade
        continue-on-error: true
      - name: 'Que es lo que pasó?'
        working-directory: '/home/runner/pintos/${{ env.phase }}/build'
        run: 'cat tests/userprog/args-none.errors'
      - name: 'Mostrar Score'
        working-directory: '/home/runner/pintos/${{ env.phase }}/build'
        run: 'cat grade'


